---
layout: default
---
<div class="bg-white">
    <div class="pt-5">
        {% include titlebar.html %}
    </div>
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <div class="text-center">
            <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Merch</p>
            <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">Looking for some sweet new clothes, or some awesome
                developer gear? Look no further than the Sudo merch store!</p>
        </div>
    </div>
</div>
<div class="flex flex-wrap overflow-hidden sm:-mx-1 md:-mx-1 lg:-mx-1 xl:-mx-1 store_card">

    <div
        class="w-full overflow-hidden sm:my-8 sm:px-8 sm:w-full md:my-8 md:px-8 md:w-full lg:my-8 lg:px-8 lg:w-full xl:my-8 xl:px-8 xl:w-1/2">
        {% include product.html name="Black Shirt Prime" %}
    </div>

    <div
        class="w-full overflow-hidden sm:my-8 sm:px-8 sm:w-full md:my-8 md:px-8 md:w-full lg:my-8 lg:px-8 lg:w-full xl:my-8 xl:px-8 xl:w-1/2">
        {% include product.html name="Black Shirt Prime" %}
    </div>

    <div
        class="w-full overflow-hidden sm:my-8 sm:px-8 sm:w-full md:my-8 md:px-8 md:w-full lg:my-8 lg:px-8 lg:w-full xl:my-8 xl:px-8 xl:w-1/2">
        {% include product.html name="Black Shirt Prime" %}
    </div>

    <div
        class="w-full overflow-hidden sm:my-8 sm:px-8 sm:w-full md:my-8 md:px-8 md:w-full lg:my-8 lg:px-8 lg:w-full xl:my-8 xl:px-8 xl:w-1/2">
        {% include product.html name="Black Shirt Prime" %}
    </div>

    <div
        class="w-full overflow-hidden sm:my-8 sm:px-8 sm:w-full md:my-8 md:px-8 md:w-full lg:my-8 lg:px-8 lg:w-full xl:my-8 xl:px-8 xl:w-1/2">
        {% include product.html name="Black Shirt Prime" %}
    </div>

    <div
        class="w-full overflow-hidden sm:my-8 sm:px-8 sm:w-full md:my-8 md:px-8 md:w-full lg:my-8 lg:px-8 lg:w-full xl:my-8 xl:px-8 xl:w-1/2">
        {% include product.html name="Black Shirt Prime" %}
    </div>

</div>
