---
layout: min
---
<div class="mt-10 -nb-10">
    {% include titlebar.html %}
</div>
<div class="bg-white py-16 sm:py-24">
    <h2 class="text-center text-3xl font-extrabold text-gray-900 sm:text-4xl">
        Event Attendance Register
      </h2>
    <div class="relative">
        <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="relative rounded-2xl px-6 py-10 overflow-hidden shadow-xl sm:px-12 sm:py-20">
                {% include forms/covid_register.html %}
            </div>
        </div>
    </div>
</div>

{% include footer.html %}