---
layout: default
---
<!-- BEGIN: HERO -->
<div class="relative bg-gray-50 overflow-hidden">
    <div class="hidden sm:block sm:absolute sm:inset-y-0 sm:h-full sm:w-full" aria-hidden="true">
        <div class="relative h-full max-w-7xl mx-auto">
            <svg class="absolute right-full transform translate-y-1/4 translate-x-1/4 lg:translate-x-1/2" width="404"
                height="784" fill="none" viewBox="0 0 404 784">
                <defs>
                    <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20"
                        patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                </defs>
                <rect width="404" height="784" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
            </svg>
            <svg class="absolute left-full transform -translate-y-3/4 -translate-x-1/4 md:-translate-y-1/2 lg:-translate-x-1/2"
                width="404" height="784" fill="none" viewBox="0 0 404 784">
                <defs>
                    <pattern id="5d0dd344-b041-4d26-bec4-8d33ea57ec9b" x="0" y="0" width="20" height="20"
                        patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                </defs>
                <rect width="404" height="784" fill="url(#5d0dd344-b041-4d26-bec4-8d33ea57ec9b)" />
            </svg>
        </div>
    </div>

    <div class="relative pt-6 pb-16 sm:pb-24">
        {% include titlebar.html %}

        <main class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24">
            <div class="text-center">
                <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                    <span class="block xl:inline">Start your career in coding with</span>
                    <span class="block text-indigo-600 xl:inline">Sudo</span>
                </h1>
                <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
                    {% include shorts/tagline.html %}
                </p>
                <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
                    <div class="rounded-md shadow">
                        <a href="https://clubs.canberra.edu.au/Clubs/Sudo/Groups" target="_blank"
                            class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
                            Sign Up
                        </a>
                    </div>
                    <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
                        <a href="/events"
                            class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10">
                            Events
                        </a>
                    </div>
                </div>

                <div class="my-8">
                    <a href="/events" class="inline-flex space-x-4">
                        <span
                            class="rounded bg-indigo-50 px-2.5 py-1 text-xs font-semibold text-indigo-600 tracking-wide uppercase">
                            This week
                        </span>
                        <span class="inline-flex items-center text-sm font-medium text-indigo-600 space-x-1">
                            <span>Byte Sized: The Essentials</span>
                            <!-- Heroicon name: chevron-right -->
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- END: HERO -->
<div class="bg-gray-50 lg:pb-5">
    {% include events/poster.html %}
</div>

<!-- BEGIN: MEET TEAM -->
<div class="bg-white">
    <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24" id="team">
        <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-8">
            <div class="space-y-5 sm:space-y-4">
                <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Meet the team</h2>
                <p class="text-xl text-gray-500">Meet the team behind Sudo.</p>
                <p class="text-lg text-indigo-600">Want to be part of team? Stay tuned for our next AGM</p>
            </div>
            <div class="lg:col-span-2">
                <ul class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8">
                    <li>
                        <div class="flex items-center space-x-4 lg:space-x-6">
                            <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/assets/media/avatars/035-man.svg"
                                alt="">
                            <div class="font-medium text-lg leading-6 space-y-1">
                                <h3>Sam MacLennan</h3>
                                <p class="text-indigo-600">President</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="flex items-center space-x-4 lg:space-x-6">
                            <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/assets/media/avatars/025-man.svg"
                                alt="">
                            <div class="font-medium text-lg leading-6 space-y-1">
                                <h3>Jed Hodson</h3>
                                <p class="text-indigo-600">Vice-President</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="flex items-center space-x-4 lg:space-x-6">
                            <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/assets/media/avatars/floppy.svg"
                                alt="">
                            <div class="font-medium text-lg leading-6 space-y-1">
                                <h3>Adela Ramadhina</h3>
                                <p class="text-indigo-600">Secretary & Diversity Rep</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="flex items-center space-x-4 lg:space-x-6">
                            <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/assets/media/avatars/013-man.svg"
                                alt="">
                            <div class="font-medium text-lg leading-6 space-y-1">
                                <h3>Rhys Swansbra</h3>
                                <p class="text-indigo-600">Treasurer</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="flex items-center space-x-4 lg:space-x-6">
                            <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/assets/media/avatars/mariachi.svg"
                                alt="">
                            <div class="font-medium text-lg leading-6 space-y-1">
                                <h3>James Stow</h3>
                                <p class="text-indigo-600">Event Coordinator</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="flex items-center space-x-4 lg:space-x-6">
                            <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                                src="/assets/media/avatars/032-woman.svg" alt="">
                            <div class="font-medium text-lg leading-6 space-y-1">
                                <h3>Sakthi Senda</h3>
                                <p class="text-indigo-600">Media Manager & Diversity Rep</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="flex items-center space-x-4 lg:space-x-6">
                            <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/assets/media/avatars/050-man.svg"
                                alt="">
                            <div class="font-medium text-lg leading-6 space-y-1">
                                <h3>Mitch O'Dea</h3>
                                <p class="text-indigo-600">General Committee</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="flex items-center space-x-4 lg:space-x-6">
                            <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                                src="/assets/media/avatars/superhero.svg" alt="">
                            <div class="font-medium text-lg leading-6 space-y-1">
                                <h3>Banjo Ward</h3>
                                <p class="text-indigo-600">General Committee</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END: MEET TEAM -->

{% include membership.html %}

<!-- BEGIN: FAQ -->
<div class="bg-white">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
        <div class="lg:grid lg:grid-cols-3 lg:gap-8">
            <div>
                <h2 class="text-3xl font-extrabold text-gray-900">
                    Frequently asked questions
                </h2>
                <p class="mt-4 text-lg text-gray-500">Can’t find the answer you’re looking for?<br>Shoot an email to <a
                        href="mailto:sudoexecutive@uni.canberra.edu.au"
                        class="font-medium text-indigo-600 hover:text-indigo-500">sudoexecutive@uni.canberra.edu.au</a>
                    and we'll get back to you.
                </p>
            </div>
            <div class="mt-12 lg:mt-0 lg:col-span-2">

                <dl class="space-y-12">
                    <div>
                        <dt class="text-lg leading-6 font-medium text-gray-900">
                            I'm new to clubs. How can I join Sudo?
                        </dt>
                        <dd class="mt-2 text-base text-gray-500">
                            It’s easier than you think! Click <a href="https://clubs.canberra.edu.au/Clubs/Sudo/Groups"
                                class="text-indigo-600">here</a> to join Sudo. Membership fee only cost $5 per year.
                        </dd>
                    </div>
                    <div>
                        <dt class="text-lg leading-6 font-medium text-gray-900">
                            When are events run?
                        </dt>
                        <dd class="mt-2 text-base text-gray-500">
                            Sudo runs events every week. Check the <a href="/events" class="text-indigo-600">event
                                schedule</a> to see what's coming up next
                        </dd>
                    </div>

                    <div>
                        <dt class="text-lg leading-6 font-medium text-gray-900">
                            How will events be run?
                        </dt>
                        <dd class="mt-2 text-base text-gray-500">
                            We will be watching the pandemic closely, following all government and university
                            guidelines. Any in-person events require you to register your attendance and follow
                            social
                            distancing requirements. In some cases we may be required to limit attendance at our
                            events.
                            In this case members get priority on a first-come-first-served basis
                        </dd>
                    </div>

                    <div>
                        <dt class="text-lg leading-6 font-medium text-gray-900">
                            I'm studying remotely. Can I still join in?
                        </dt>
                        <dd class="mt-2 text-base text-gray-500">
                            Of course! Most our events will have a way to join remotely so all can take part
                        </dd>
                    </div>
                    <div>
                        <dt class="text-lg leading-6 font-medium text-gray-900">
                            Why should I join Sudo?
                        </dt>
                        <dd class="mt-2 text-base text-gray-500">
                            Here's our top four reasons why you should join Sudo:
                        </dd>
                        <ul class="mt-2 text-base text-gray-500">
                            <li>• Get to indulge in your passions and build your skills.</li>
                            <li>• Pursue your kickstarting ideas with resources available to you.</li>
                            <li>• Meet new people with similar interests to you and expand your network;</li>
                            <li>• and of course, to have fun!</li>
                        </ul>
                    </div>
                    <div>
                        <dt class="text-lg leading-6 font-medium text-gray-900">
                            How can I get more information about getting involved at Sudo?
                        </dt>
                        <dd class="mt-2 text-base text-gray-500">
                            It's easy! Attend our Annual General Meeting (AGM). Stay tuned for our next one. 👋
                        </dd>
                    </div>

                </dl>
            </div>
        </div>
    </div>
</div>
<!-- END: FAQ -->

{% include scitech_societies.html %}