<div>
    <div>
        <a href="{{include.link}}" class="inline-block">
            <span
                class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium {{include.color}}">
               {{include.type}}
            </span>
        </a>
    </div>
    <a href="{{include.link}}" class="block mt-4">
        <p class="text-xl font-semibold text-gray-900">
            {{include.title}}
        </p>
        <p class="mt-2 text-l font-bold text-gray-600">
            {{include.when}}
        </p>
        <p class="mt-1 text-base text-gray-500">
            {{include.description}}
        </p>
    </a>
</div>