<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Sudo - Better than Eng Soc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fonts.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>

  <body>
</html>