<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-indigo-700">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
      <h2 class="text-3xl font-extrabold text-white text-center">
        Discover other SciTech societies at the University of Canberra
      </h2>
      <div class="flow-root mt-8 lg:mt-10">
        <div class="-mt-4 -ml-8 flex flex-wrap justify-center lg:-ml-4">
          <div class="lg:px-10 mt-4 ml-8 flex flex-grow flex-shrink-0 lg:flex-grow-0 lg:ml-4">
            <a href="https://ucengsoc.com.au/"><img class="h-12" src="/assets/media/engsoc_white.svg" alt="UC Eng Soc"></a>
          </div>
          <div class="lg:px-10 mt-4 ml-8 flex flex-grow flex-shrink-0 lg:flex-grow-0 lg:ml-4">
            <a href="https://clubs.canberra.edu.au/Clubs/UCSWIS"><img class="h-12" src="https://tailwindui.com/img/logos/tuple-logo-indigo-300.svg" alt="UCSWIS"></a>
          </div>
          <div class="lg:px-10 mt-4 ml-8 flex flex-grow flex-shrink-0 lg:flex-grow-0 lg:ml-4">
            <a href="https://clubs.canberra.edu.au/Clubs/UCITSA"><img class="h-9" src="/assets/media/ucitsa_white.svg" alt="UCITSA"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  