<div class="bg-white pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
    <div class="relative max-w-lg mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl">
        <div>
            <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
                Past Events
            </h2>
            <p class="mt-3 text-xl text-gray-500 sm:mt-4">
                Take a look at our past events and view any extra content from them
            </p>
        </div>
        <div class="mt-12 grid gap-16 pt-12 lg:grid-cols-3 lg:gap-x-5 lg:gap-y-12">
            {% include card.html link="#" when="11<sup>th</sup> March @ 4:30" type="Byte Sized" color="bg-purple-100
            text-purple-800" title="Byte Sized: Divide & Conquer" description="You've probably heard the words
            'Containerization' or 'Docker' floating around, but these containers aren't your grandma's tuppaware. " %}
            {% include card.html link="#" when="18<sup>th</sup> March @ 4:30" type="Projects & Pizza"
            color="bg-yellow-100 text-yellow-800" title="Project & Pizza" description="Hang out with Sudo to show off
            something you've created, discover a new passion project or just to enjoy some Pizza!" %}
            {% include card.html link="#" when="4<sup>th</sup> March @ 4:30" type="Projects & Pizza"
            color="bg-yellow-100 text-yellow-800" title="Project & Pizza" description="Hang out with Sudo to show off
            something you've created, discover a new passion project or just to enjoy some Pizza!" %}
            {% include card.html link="#" when="25<sup>th</sup> February @ 4:30" type="Byte Sized" color="bg-purple-100
            text-purple-800" title="Byte Sized: WTF is Git?" description="An in-depth look into Git and it's role in a
            developers toolbox. From the GUI to the Command Line, Sudo will take you through everything you need to know
            to use Git like a pro." %}
            {% include card.html link="#" when="24<sup>th</sup> February @ 6:00" type="Collab Event"
            color="bg-green-100 text-green-800" title="Technology Industry Panel" description="Come and meet some
            professionals from the industry and learn about some of the majors you could choose as part of your degree."
            %}
            {% include card.html link="#" when="18<sup>th</sup> February @ 4:30" type="Projects & Pizza"
            color="bg-yellow-100 text-yellow-800" title="Project & Pizza" description="Hang out with Sudo to show off
            something you've created, discover a new passion project or just to enjoy some Pizza!" %}
            {% include card.html link="#" when="11<sup>th</sup> February @ 4:30" type="Byte Sized" color="bg-purple-100
            text-purple-800" title="Byte Sized: The Essentials" description="Discover the essential tools you will
            require as a developer and discover neat tricks you can used everywhere. We'll be uncovering the mysteries
            of Git and how to set up VSCode for your daily works.<br><br>Oh and the Engineering Society will be there
            too..." %}
            {% include card.html link="#" type="Event" color="bg-indigo-100 text-indigo-800" title="Hello Sudo"
            when="4<sup>th</sup> February @ 4:30" description="Our 2021 welcome event! Thanks to all that attended." %}
        </div>
    </div>
</div>