<main>
    <div>
        <!-- Hero card -->
        <div class="relative">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
                    <div class="absolute inset-0">
                        <img class="h-full w-full object-cover" src="/assets/media/backgrop_grad_purple.png"
                            alt="Background images">
                    </div>
                    <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                        <h1
                            class="text-center text-5xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl text-white">
                            Projects & Pizza
                        </h1>
                        <p class="mt-6 max-w-lg mx-auto text-center text-2xl text-white sm:max-w-3xl">
                            Hang out with Sudo to show off
                            something you've created, discover 
                            a new passion project or just to enjoy some Pizza!
                        </p>
                        <p class="mt-3 max-w-lg mx-auto text-center text-xl font-semibold text-white sm:max-w-2xl">
                            18<sup>th</sup> February @ 4:30 in <a href="https://goo.gl/maps/Kag1qEaDQE7kjKNh6">1A04 -
                                The UXC Club Space</a>
                        </p>
                        <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
                            <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
                                <a href="https://facebook.com/sudouc"
                                    class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-purple-600 bg-white hover:bg-gray-50 sm:px-8">
                                    Register
                                </a>
                                <a href="/events/calendar.ics"
                                    class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-purple-500 bg-opacity-70 hover:bg-opacity-80 sm:px-8">
                                    Add to Calendar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>