<main>
    <div>
        <!-- Hero card -->
        <!--<div class="relative">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
                    <div class="absolute inset-0">
                        <img class="h-full w-full object-cover" src="/assets/media/backgrop_grad_purple.png"
                            alt="Background images">
                    </div>
                    <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                        <h1
                            class="text-center text-5xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl text-white">
                            Byte Sized: I Spy
                        </h1>
                        <p class="mt-6 max-w-lg mx-auto text-center text-2xl text-white sm:max-w-3xl">
                            Building a GUI or a game is one thing, but there's a
                            whole complex world of technology that handles how the things you build are actually being
                            displayed. Whoa,
                            dude, I think I'm seeing thing...
                        </p>
                        <p class="mt-3 max-w-lg mx-auto text-center text-xl font-semibold text-white sm:max-w-2xl">
                            24<sup>th</sup> March @ 4:30 in <a href="https://goo.gl/maps/Kag1qEaDQE7kjKNh6">1A04 - The
                                UXC Club Space</a>
                        </p>
                        <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
                            <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
                                <a href="https://www.facebook.com/sudouc/" target="_blank"
                                    class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-indigo-600 bg-white hover:bg-gray-50 sm:px-8">
                                    Register
                                </a>
                                <a href="/events/calendar.ics"
                                    class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-500 bg-opacity-70 hover:bg-opacity-80 sm:px-8">
                                    Add to Calendar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="relative">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
                    <div class="absolute inset-0">
                        <img class="h-full w-full object-cover" src="/assets/media/backgrop_grad_purple.png"
                            alt="Background images">
                    </div>
                    <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                        <h1
                            class="text-center text-5xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl text-white">
                            Hello, Sudo!
                        </h1>
                        <p class="mt-6 max-w-lg mx-auto text-center text-2xl text-white sm:max-w-3xl">
                            Come and meet the Sudo team, and fellow Sudo members! Co-Hosted with UC EngSoc
                        </p>
                        <p class="mt-3 max-w-lg mx-auto text-center text-xl font-semibold text-white sm:max-w-2xl">
                            Thursday 17<sup>th</sup> February 1A01
                        </p>
                        <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
                            <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
                                <a href="/forms/2021S2.html"
                                    class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-indigo-600 bg-white hover:bg-gray-50 sm:px-8">
                                    Feedback
                                </a>
                                <a href="/events/calendar.ics"
                                    class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-500 bg-opacity-70 hover:bg-opacity-80 sm:px-8">
                                    Add to Calendar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
