---
layout: min
---
<div class="bg-white max-w-4xl mx-5 sm:mx-auto mt-10">
    <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">Internal Apps</h2>
    <ul class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">

        {% include card_small.html bg="bg-blue-500" title="Sudo Attend" description="Generic" acr="SA" href="/app/attend" %}
        {% include card_small.html bg="bg-yellow-500" title="Sudo Attend" description="Projects & Pizza" acr="SA"
        href="/app/attend?event=Projects%20%26%20Pizza" %}

    </ul>
</div>