<form class="space-y-8 divide-y divide-gray-200">

    <div class="pt-4 space-y-6 sm:pt-10 sm:space-y-5">
        <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Event Attendance Register
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Registration is essential for in-person attendance at all events in accordance with University and
                Government policy.<br>
                Attendance information is collected in accordance with the University of Canberra Privacy Policy.
            </p>
        </div>
        <div class="space-y-6 sm:space-y-5">
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <label for="first_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                    Full Name
                </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <input type="text" name="FullName" id="full_name" autocomplete="given-name"
                        class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <label for="first_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                    Phone Number
                </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <input type="text" name="FullName" id="full_name" autocomplete="given-name"
                        class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                </div>
            </div>


            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <label for="email" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                    Email address
                </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <input id="email" name="Email" type="email" autocomplete="email"
                        class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md">
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <label for="first_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                    Student Number
                </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <input type="text" name="FullName" id="full_name" autocomplete="given-name"
                        class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <label for="first_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                    Arrival Time
                </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <input type="text" name="FullName" id="full_name" autocomplete="given-name"
                        class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                </div>
            </div>

            <div class="pt-6 sm:pt-5 sm:border-t sm:border-gray-200">
                <div role="group" aria-labelledby="label-notifications">
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
                        <div>
                            <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700"
                                id="label-notifications">
                                Symptoms & Travel
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <div class="max-w-lg">
                                <p class="text-sm text-gray-500">
                                    In the previous 14 days, have you:
                                </p>
                                <ul class="text-sm text-gray-500">
                                    <li>· Had any COVID-19 symptoms?</li>
                                    <li>· Been in contact
                                        with any confirmed/suspected COVID-19 case?</li>
                                    <li>· Travelled internationally?</li>
                                </ul>
                                <div class="mt-4 space-y-4">
                                    <div class="flex items-center">
                                        <input id="push_everything" name="push_notifications" type="radio"
                                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                        <label for="push_everything"
                                            class="ml-3 block text-sm font-medium text-gray-700">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="push_email" name="push_notifications" type="radio"
                                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                        <label for="push_email" class="ml-3 block text-sm font-medium text-gray-700">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
                <label for="first_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                    If yes, provide details:
                </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <input type="text" name="FullName" id="full_name" autocomplete="given-name"
                        class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                </div>
            </div>

        </div>
    </div>



    <div class="pt-5">
        <div class="flex justify-start">
            <button type="submit"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Submit
            </button>
        </div>
    </div>
</form>